[data-highlight]{
    background-color: green;
}
.botão{
    background-color: blue;
    color: white;
}
/*Corespondescia de substring*/
[class*="button"]{
    border: 1px solid black;
    background-color: yellow;
}
/*corespondencia de prefixo*/
[href^="https://"]{
    color: blue;
}
/*Corespondencia de sufixo*/
[scr$=".png"]{
    border: 2px transparent black;
}